@use 'variaveis';

.shows {
    padding: 2vw 5.6vw;
    &__list{
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        min-height: 20vw;

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        &--is-active{
            display: grid;
        }
        &__item {
            li {
                margin-left: 10px;
            }

            img {
                max-width: 100%;
                border-radius: 4px;
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;

        @media (max-width: 768px){
            white-space: nowrap;
            overflow-x: scroll;
            padding-left: 18px;
        }

        &__button {
            cursor: grab;
            color: variaveis.$corTextS;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;

            &:active{
                cursor: grabbing;
            }

            &--is-active {
                border-bottom: 5px solid variaveis.$corTextS;
            }

            @media (max-width: 768px){
                font-size: 16px;
            }
        }
    }
}